@use 'fonts';
@use 'variables';
@use 'null';
@use 'animation';
@use 'breakpoint';
@use 'typography';
@use 'mixin';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  @media (max-width: 1700px) and (min-width: 1201px) {
    zoom: 0.9;
    width: 111.11%;
    margin: 0 auto;
  }

  @media (max-width:2200px) and (min-width: 1700px) {
    zoom: 0.95;
    width: 91%;
    margin: 0 auto;
  }
}


body {
  font-synthesis: none !important;
  color: var(--black);
  font-size: 24px;
  font-family: var(--font-playfair-display);
  background-color: var(--bg);
  font-feature-settings: 'lnum';

  &.lock {
    overflow: hidden;
  }

  // * {
  //   font-size: inherit;
  // }

  @include mobile {
    @include rtl {
      font-family: 'Playfair Display', sans-serif;
    }
  }
}

.container {
  // margin: 0 auto;
  // max-width: 1920px;
  flex-grow: 1;
}

.padding {
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);

  @include tablet {
    padding-left: var(--padding-container-tablet);
    padding-right: var(--padding-container-tablet);
  }

  @include mobile {
    padding-left: var(--padding-container-mobile);
    padding-right: var(--padding-container-mobile);
  }
}

.padding-left {
  padding-left: var(--padding-container);

  @include rtl {
    padding-left: unset;
    padding-right: var(--padding-container);
  }

  @include tablet {
    padding-left: var(--padding-container-tablet);

    @include rtl {
      padding-left: unset;
      padding-right: var(--padding-container-tablet);
    }
  }

  @include mobile {
    padding-left: var(--padding-container-mobile);

    @include rtl {
      padding-left: unset;
      padding-right: var(--padding-container-mobile);
    }
  }
}

.padding-vertical {
  padding-top: var(--padding-container);
  padding-bottom: var(--padding-container);

  @include tablet {
    padding-top: var(--padding-container-tablet);
    padding-bottom: var(--padding-container-tablet);
  }

  @include mobile {
    padding-top: var(--padding-container-mobile);
    padding-bottom: var(--padding-container-mobile);
  }
}

body .carousel__prev,
body .carousel__next {
  background-color: red; // not disabled case
  color: white; // optional, if you want to change icon color
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.carousel__navigation-button--disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.section-margin-bottom {
  margin-bottom: 128px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include mobile {
    margin-bottom: 32px;
  }
}

// .zoom-wrapper {
//   @media (max-width: 1700px) and (min-width: 1201px) {
//     width: 125% !important;
//     transform: scale(0.8) translateX(-10%);
//     transform-origin: top center;
//   }
// }

// .zoom-wrapper-modal-content {
//   @media (max-width: 1700px) and (min-width: 1201px) {
//     transform: scale(0.8);
//   }
// }