@mixin fade-overlay-right($width: 390px) {
    content: ''; // Required for pseudo-elements
    position: absolute; // Place over the swiper
    top: -2px;
    right: -4px;
    z-index: 2;
    height: 102%;
    width: $width; // Dynamic width
    pointer-events: none; // Don’t block interaction with slides
    background: linear-gradient(270deg, #FEFBF2 3.72%, rgba(254, 251, 242, 0) 100%);
}
