.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  font-style: italic;
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  font-style: italic;

  &-s {
    font-size: 32px;
  }
}

.text {
  font-size: 24px;

  &-l {
    font-size: 32px;
  }

  &-s {
    font-size: 18px;
  }
}

.italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

.bold{
  font-weight: 700;
}