.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  font-style: italic;

  @media (max-width: 500px) {
    font-size: 24px;
    line-height: 40px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  font-style: italic;

  &-s {
    font-size: 32px;
  }

  @media (max-width: 500px) {
    font-size: 24px;
    line-height: 40px;
  }
}

.text {
  font-size: 24px;
  // color: var(--black);

  @media (max-width: 500px) {
    font-size: 14px;
  }

  &-l {
    font-size: 32px;
  }

  &-s {
    font-size: 18px;
  }
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.black {
  color: var(--black-primary);
}