.title {
  font-weight: 700;
  font-size: 64px;
}

.subtitle {
  font-weight: 700;
  font-size: 48px;

  &-s {
    font-size: 32px;
  }

  &-l {
    font-size: 48px;
  }
}

.text {
  font-size: 24px;

  &-l {
    font-size: 40px;
  }

  &-s {
    font-size: 28px;
  }

  &-xs {
    font-size: 24px;
  }

  &-xxs {
    font-size: 20px;
  }
}

.italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

.bold{
  font-weight: 700;
}