:root {
  --red-primary: rgba(251, 7, 56, 1);
  --red-accent: rgba(251, 7, 56, 1);
  --red-third: rgba(251, 7, 56, 1);

  --white: rgba(255, 255, 255, 1);

  --green-accent: rgba(60, 101, 88, 1);
  --green-accent-2: rgba(25, 42, 38, 1);
  --green-third: rgba(251, 7, 56, 1);

  --black-primary: rgba(38, 38, 38, 1);
  --black-secondary: rgba(79, 79, 79, 1);
  --black-third: rgba(176, 176, 176, 1);

  --bg: rgba(251, 7, 56, 1);

  --font-playfair-display: 'Playfair Display', serif;

}